* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #195b7d;
  color: #fffcfa; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.navbar {
  position: fixed;
  height: 3.5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 1; }
  .navbar .menu-icon {
    display: none;
    font-size: 2rem; }
  .navbar li {
    display: inline;
    padding: 1.4rem; }
  .navbar a {
    text-decoration: none;
    color: #fffcfa;
    font-size: 1.7rem; }
  @media screen and (max-width: 560px) {
    .navbar li {
      display: none; }
    .navbar li .menu-icon {
      display: block; }
    .navbar .navbar {
      background: #28343b; } }

section {
  height: 100vh;
  width: 100%; }

.content {
  position: absolute;
  width: inherit;
  height: inherit;
  padding: 0 15vw;
  z-index: 2;
  top: 20vh;
  text-align: center; }
  .content h1 {
    font-size: 10rem;
    color: #fffcfa;
    text-transform: capitalize; }
  .content h2 {
    padding: 2rem;
    font-size: 2rem; }
  .content h3 {
    text-transform: capitalize;
    font-size: 5rem;
    margin-bottom: 3rem; }
  .content p {
    font-size: 2rem; }

.showcase {
  position: relative;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }
  .showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #1592cc;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.70;
    z-index: 1; }
  .showcase .content {
    top: 30vh; }

.about {
  color: #fffcfa;
  background-color: #0e69b7; }

.portfolio {
  color: #28343b;
  background-color: #fffcfa; }

.contact {
  color: #fffcfa;
  background-color: #195b7d; }

@media screen and (max-width: 560px) {
  .content {
    padding: 15vw 15vw; }
    .content h1 {
      font-size: 6rem; }
    .content h2 {
      font-size: 1.7rem; }
  .showcase .content {
    top: 7vh; } }
