* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #195b7d;
  color: #fffcfa; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.navbar {
  position: fixed;
  margin-right: 0;
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  color: #fffcfa;
  background-color: transparent;
  padding: 0.1rem 1.5rem; }
  .navbar .menu-icon {
    display: none;
    font-size: 2rem; }
  .navbar li {
    display: inline;
    padding: 1rem; }
  .navbar a {
    text-decoration: none;
    color: #fffcfa;
    font-size: 1.3rem; }

#showcase {
  height: 100vh;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

#about {
  color: #28343b;
  background-color: #fffcfa;
  height: 100vh; }
