* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Raleway', sans-serif;
  background-color: #195b7d;
  color: #fffcfa; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.navbar {
  position: fixed;
  height: 3.5rem;
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 1; }
  .navbar .menu-icon {
    display: none;
    font-size: 2rem; }
  .navbar li {
    display: inline;
    padding: 1.4rem; }
  .navbar a {
    text-decoration: none;
    color: #fffcfa;
    font-size: 1.4rem; }
  @media screen and (max-width: 420) {
    .navbar li {
      display: none; }
    .navbar .menu-icon {
      display: inline; }
    .navbar .navbar {
      background: #28343b; } }

#showcase {
  position: relative;
  height: 100vh;
  background-image: url("../img/bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0; }
  #showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #195b7d;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.90;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center; }
  #showcase .content {
    position: absolute;
    text-align: center; }
    #showcase .content h1 {
      font-family: "Montserrat";
      font-size: 7rem;
      color: #fffcfa;
      opacity: 1; }
    #showcase .content h2 {
      padding-top: 2rem; }
  @media screen and (max-width: 420px) {
    #showcase h1 {
      font-size: 2rem; }
    #showcase h2 {
      padding: 2rem; } }

#about {
  color: #28343b;
  background-color: #fffcfa;
  height: 100vh; }
