.navbar {
  position: fixed;

  height: 4rem;
  width: 100%;

  background-color: transparent;

  display: flex;
  align-items: center;

  z-index: 1;

  .menu-icon {
    font-size: 2.5rem;
    margin-right: 2rem;
    display: none;
  }

  li {
    margin-left: 3rem;
    display: inline;
    padding: 2rem;
  }

  a {
    text-decoration: none;
    font-size: 1.7rem;
  }

  .white{
    color: $white;
  }

  .black {
    color: $black;
  }



  @media screen and (max-width: 720px) {
    ul {
      position: absolute;
      top: 0;
      left: 0;
    }
    li {
      margin-left: 0rem;
      display: none;
      padding: 1rem 3rem;
    }

    .menu-icon {
      display: block;
    }

    .navbar {
      height: 100vh;
      background-color: $black;
    }

  }

}
