#home{
    /*
    background-image: url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    */
    background-color: red;
    height: 200px;
    width: 100rem;
}