#showcase{
    height: 100vh;
    background-image: url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#about {
    color: $black;
    background-color: $white;
    height: 100vh;
}