section {
  height: 100vh;
  width: 100%;
}

.content{
    position: absolute;
    width: inherit;
    height: inherit;
    padding: 0 15vw;
    z-index: 2;
    top: 20vh;

    text-align: center;

    h1 {
        font-size: 10rem;
        color: $white;
        text-transform: capitalize;      
    }

    h2 {
        padding: 2rem;
        font-size: 2rem;
    }

    h3 {
        text-transform: capitalize;
        font-size: 5rem;
        margin-bottom: 3rem;
    }

    p{
        font-size: 2rem;
    }

}



.showcase {
    position: relative;
    background-image: url("../img/bg-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    
    .overlay {
        position: absolute;

        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: $blue-1;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.70;
        z-index: 1;
    
        
    }
    
    .content{
        top: 30vh;
    }

    
}

.about {
    color: $white;
    background-color: $blue-2;
}

.portfolio {
    color: $black;    
    background-color: $white;
}

.contact{
    color: $white;
    background-color: $blue-3;
}

@media screen and (max-width: 560px) {
    .content{
        padding: 15vw 15vw;

        h1 {
            font-size: 6rem;
        }

        h2 {
            font-size: 1.7rem;
        }

    }

    .showcase .content {
        top: 7vh;
    }

}