
.content {

  padding: 5rem;

  h3 {
    text-transform: capitalize;
    font-size: 5rem;
    margin-bottom: 3rem;
  }

  p {
    font-size: 2rem;
  }

  @media screen and (max-width: 560px) {
    h3 {
      font-size: 3rem;                
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.2em;
    }
  }

}

@media screen and (max-width: 560px) {
  .content {
    padding: 3rem;
  }
}